@import url('style.css');
@import url('navbar.css');

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* height 100% */
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
    width: 62vw;
    height: 100%;
    margin: 1rem 0;
}

.cadastro-form {
    display: flex;
    flex: 1;
    padding: 13px 9px;
    flex-direction: column;
    align-items: flex-end;
    gap: 80px;
    width: 100%;
}

.form-title {
    text-align: center;
    color: var(--ghost-white, #f8f8ff);
    text-align: center;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 700;
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    flex: 1;
}

.input-fields .form-group {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.form-group .input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: white;
    min-width: 0;
    flex: 1;
}

textarea.textbox {
    resize: none;
    flex: 1;
}
/* TODO: Fazer inputs mais responsivos em mobile */
