@import url('components.css');
@import url('cadastro.css');
@import url('navbar.css');

.cadastro-form__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.col-span-2 {
    grid-column: span 2;
}

@media screen and (width < 35rem) {
    .cadastro-form__inputs {
        grid-template-columns: 1fr;
    }
    .col-span-2 {
        grid-column: revert;
    }
}
