@import url('./style.css');
@import url('./navbar.css');

/* header {
    background-color: #eaeaea;
    background-color: black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1px;
}

nav ul li {
    flex: 1;
    text-align: center;
    background-color: #eaeaea;
    padding: 1em 0;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
} */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* height 100% */
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 62vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.cadastro-form {
    display: flex;
    padding: 13px 9px;
    flex-direction: column;
    align-items: flex-end;
    gap: 80px;
    width: 100%;
}

.form-title {
    text-align: center;
    color: var(--ghost-white, #f8f8ff);
    text-align: center;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 700;
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.input-fields .form-group {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.form-group .input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: white;
    flex: 1;
    min-width: 0;
}
/* TODO: Fazer inputs mais responsivos em mobile */

/* button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00a3e8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #007bb5;
} */
