@import url('navbar.css');
@import url('cadastro.css');

.cadastro-form__inputs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 8px;
}

@media only screen and (width > 62rem) {
    .cadastro-form__inputs {
        grid-template-columns: repeat(6, 1fr);
    }
    .col-span-2 {
        grid-column: span 2;
    }

    .col-span-6 {
        grid-column: span 6;
    }

    .col-span-3 {
        grid-column: span 3;
    }
}
