@import url('components.css');
@import url('cadastro.css');
@import url('navbar.css');

.cadastro-form__inputs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

.input--textarea .input__box {
    min-height: 8rem;
}
