@import url('./style.css');

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    gap: 24px;
}

.decorator-image {
    display: flex;
    width: 50%;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
}

.decorator-image {
    /* background-image: url('../images/logo.png'); */
    background-image: url('../images/LogoCompleta.svg');
    background-color: lightgray;
    background-position: 50% center; /* or simply '50%' for horizontal centering */
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
    .decorator-image {
        display: none;
    }
}

.login-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    align-self: stretch;
}

@media only screen and (max-width: 768px) {
    .login-field {
        align-items: center;
        padding: 0;
    }
}

.login-field .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex: 1;
}

.title > * {
    color: var(--ghost-white);
    user-select: none;
}
.title h1 {
    font-size: 3rem;
    font-weight: 700;
}
.title h2 {
    font-size: 1.3rem;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
}

form .fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

form input {
    padding: 12px 4px 12px 16px;
    border-radius: 4px;
    border: none;
    background: white;
    font-weight: 400;
    font-size: 1.1rem;
}

input#txtEmail {
    width: 100%;
}

form a {
    text-decoration: none;
}

#btn-login {
    display: flex;
    padding: 12px 48px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: none;
    color: white;
}

#btn-login {
    border-radius: 12px;
    background: var(--button-cyan);
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: normal;
    cursor: pointer;
}

#btn-login:hover {
    background: var(--button-cyan-hover);
}
