@import url('style.css');

body {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100%;
}

.decorator-image {
    background-image: url('../images/LogoCompleta.svg');
    background-color: #020f1f;
    background-position: 50% center;
    background-size: contain;
    background-repeat: no-repeat;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

.title > * {
    color: var(--ghost-white);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

#txtEmail {
    width: 25rem;
}

#txtSenha {
    width: 20rem;
}

@media only screen and (width < 60rem) {
    .decorator-image {
        display: none;
    }

    .container {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .title {
        margin-bottom: 3rem;
    }
}
