@import url('reset.css');

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter/Inter-VariableFont.ttf');
}

:root {
    --background: #031730;
    --background-navbar: #020f1f;
    --nav-button-cyan: #32c7c7e5;
    --btn-primary: #1ca7a7;
    --btn-primary-hover: #268282;
    --ghost-white: #f8f8ff;
}

:root {
    background-color: var(--background);
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

.btn {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.5em 1em;
}

.btn--primary {
    background-color: var(--btn-primary);
    color: white;
}

.btn--primary:hover {
    background-color: var(--btn-primary-hover);
}

.input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: white;
}

.input__box {
    padding: 0.5em;
    border-radius: 4px;
    border: none;
    resize: none;
}
