@import url('../style.css');
@import url('../navbar.css');

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 62vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.cadastro-form {
    display: flex;
    padding: 13px 9px;
    flex-direction: column;
    align-items: flex-end;
    gap: 80px;
    width: 100%;
}

.form-title {
    text-align: center;
    color: var(--ghost-white, #f8f8ff);
    text-align: center;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 700;
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.input-fields .form-group {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.form-group .input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: white;
    flex: 1;
    min-width: 0;
}
/* TODO: Fazer inputs mais responsivos em mobile */

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00a3e8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #007bb5;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter/Inter-VariableFont.ttf');
}

:root {
    --background-blue: #031730;
    --background-navbar: #020f1f;
    --button-cyan: #1ca7a7;
    --button-cyan-hover: #268282;
    --nav-button-cyan: #32c7c7e5;
    --ghost-white: #f8f8ff;
}

:root {
    background-color: var(--background-blue);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

input.textbox {
    padding: 12px;
    border-radius: 4px;
    border: none;
    background: white;
    font-weight: 400;
    font-size: 1.1rem;
}

.primary-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 48px;
}

.primary-button {
    color: white;
    border: none;
    border-radius: 12px;
    background: var(--button-cyan);
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
}

.primary-button:hover {
    background: var(--button-cyan-hover);
}
