*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    /* padding: 0; */
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
    font-weight: 300;
}
