@import url('../base/base.css');
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-navbar);
    padding: 4px 64px;
    position: sticky;
    top: 0;
}

.logo {
    width: clamp(10rem, 15vw + 1rem, 13rem);
}

.logo a {
    display: block;
}

.logo img {
    width: 100%;
}

/* NAVBAR BUTTONS */
.nav-buttons {
    display: flex;
    align-self: stretch;
}

.nav-buttons * {
    height: 100%;
}

.nav-buttons ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    padding: 0;
}

.nav-buttons ul li a {
    display: flex;
    align-items: center;
    /* padding: 0 16px; */
    text-decoration: none;
    color: var(--ghost-white);
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
}

.nav-buttons ul li a {
    transition: color ease-in 0.1s;
}

.nav-buttons ul li a:hover {
    color: var(--nav-button-cyan);
}

/* ACC PANEL */
.account-panel {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-pic {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    overflow: clip;
}

.panel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 4px 0;
}

.panel-text .username {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

.panel-text .sair {
    color: #ff8080;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
}

@media only screen and (width < 45rem) {
    .logo {
        display: none;
    }

    .navbar {
        padding: 0;
        padding: 0.5rem 1rem;
    }
}

@media only screen and (width < 35rem) {
    .profile-pic {
        width: 3rem;
        height: 3rem;
    }

    .panel-text {
        align-items: center;
        gap: 0.5rem;
    }

    .nav-buttons ul {
        flex-direction: column;
        align-items: flex-start;
    }
}
